In [91]:
import pandas as pd
import json
from datetime import datetime
import plotly.plotly as py
import urllib2
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

#base_url = "https://www.indeed.com"    
#proxy = urllib2.ProxyHandler({'https': uname+'@inet-proxy-b.appl.swissbank.com:8080'})
#urllib2.install_opener(urllib2.build_opener(proxy))
init_notebook_mode(connected=True)

In [131]:
d = urllib2.urlopen("https://query1.finance.yahoo.com/v7/finance/chart/ASHOKLEY.NS?&interval=5m")

In [132]:
data = """{"chart":{"result":[{"meta":{"currency":"INR","symbol":"ASHOKLEY.NS","exchangeName":"NSI","instrumentType":"EQUITY","firstTradeDate":1025495100,"gmtoffset":19800,"timezone":"IST","exchangeTimezoneName":"Asia/Kolkata","chartPreviousClose":103.0,"previousClose":103.0,"scale":3,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"IST","start":1545968700,"end":1545968700,"gmtoffset":19800},"regular":{"timezone":"IST","start":1545968700,"end":1545991200,"gmtoffset":19800},"post":{"timezone":"IST","start":1545991200,"end":1545991200,"gmtoffset":19800}},"tradingPeriods":[[{"timezone":"IST","start":1545968700,"end":1545991200,"gmtoffset":19800}]],"dataGranularity":"15m","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1545968700,1545969600,1545970500,1545971400,1545972300,1545973200,1545974100,1545975000,1545975900,1545976800,1545977700,1545978600,1545979500,1545980400,1545981300,1545982200,1545983100,1545984000,1545984900,1545985800,1545986700,1545987600,1545988500,1545989400,1545990300],"indicators":{"quote":[{"close":[103.69999694824219,103.6500015258789,103.75,104.1500015258789,104.19999694824219,104.0999984741211,104.0999984741211,103.9000015258789,104.05000305175781,103.5,103.5999984741211,103.69999694824219,103.69999694824219,103.69999694824219,103.75,103.6500015258789,103.69999694824219,103.44999694824219,103.25,102.80000305175781,103.0,103.0,102.80000305175781,102.75,103.0],"high":[103.9000015258789,103.9000015258789,103.80000305175781,104.3499984741211,104.30000305175781,104.30000305175781,104.19999694824219,104.0999984741211,104.05000305175781,104.0,103.69999694824219,103.75,103.75,103.69999694824219,103.75,103.75,103.75,103.75,103.4000015258789,103.25,103.1500015258789,103.0,103.0,103.0,103.0],"low":[103.44999694824219,103.5,103.5999984741211,103.80000305175781,104.05000305175781,104.0999984741211,104.05000305175781,103.69999694824219,103.75,103.44999694824219,103.5,103.55000305175781,103.6500015258789,103.55000305175781,103.5999984741211,103.6500015258789,103.6500015258789,103.30000305175781,103.1500015258789,102.75,102.6500015258789,102.94999694824219,102.6500015258789,102.75,102.5999984741211],"volume":[664062,498918,264002,621789,362943,171167,116629,571353,277743,675388,173689,191495,249908,116811,197421,152709,144020,649152,675493,1087128,805672,392577,668986,974856,1340080],"open":[103.44999694824219,103.6500015258789,103.5999984741211,103.80000305175781,104.1500015258789,104.19999694824219,104.1500015258789,104.0999984741211,103.8499984741211,104.0,103.5,103.55000305175781,103.69999694824219,103.69999694824219,103.69999694824219,103.75,103.69999694824219,103.69999694824219,103.4000015258789,103.25,102.80000305175781,103.0,103.0,102.9000015258789,102.75]}]}}],"error":null}}"""

In [133]:
data = d.read()

In [134]:
data

'{"chart":{"result":[{"meta":{"currency":"INR","symbol":"ASHOKLEY.NS","exchangeName":"NSI","instrumentType":"EQUITY","firstTradeDate":1025495100,"gmtoffset":19800,"timezone":"IST","exchangeTimezoneName":"Asia/Kolkata","chartPreviousClose":102.5,"previousClose":102.5,"scale":3,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"IST","start":1546400700,"end":1546400700,"gmtoffset":19800},"regular":{"timezone":"IST","start":1546400700,"end":1546423200,"gmtoffset":19800},"post":{"timezone":"IST","start":1546423200,"end":1546423200,"gmtoffset":19800}},"tradingPeriods":[[{"timezone":"IST","start":1546400700,"end":1546423200,"gmtoffset":19800}]],"dataGranularity":"5m","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","max"]},"timestamp":[1546400700,1546401000,1546401300,1546401600,1546401900,1546402200,1546402500,1546402800,1546403100,1546403400,1546403700,1546404000,1546404300],"indicators":{"quote":[{"high":[102.25,102.0,101.69999694824219,101.80000305175781,101.69999694824219,101.25,101.25,101.4000015258789,101.25,101.0999984741211,101.05000305175781,100.9000015258789,null],"low":[101.6500015258789,101.4000015258789,101.5999984741211,101.6500015258789,101.25,100.9000015258789,100.69999694824219,100.30000305175781,100.8499984741211,100.80000305175781,100.80000305175781,100.5999984741211,null],"open":[102.0,102.0,101.69999694824219,101.6500015258789,101.6500015258789,101.25,101.0,101.4000015258789,101.0999984741211,100.94999694824219,101.0,100.9000015258789,null],"close":[101.94999694824219,101.69999694824219,101.6500015258789,101.6500015258789,101.3499984741211,101.0,101.25,101.05000305175781,100.94999694824219,101.0999984741211,100.9000015258789,100.6500015258789,null],"volume":[451180,881546,350046,269562,811550,1277514,1132748,3262459,1052780,630054,301877,261638,null]}]}}],"error":null}}'

In [135]:
ashok_data = json.loads(data)

In [136]:
def to_datetime(ts):
    return datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')

In [137]:
ashok_data["chart"]["result"][0]["timestamp"]

[1546400700,
 1546401000,
 1546401300,
 1546401600,
 1546401900,
 1546402200,
 1546402500,
 1546402800,
 1546403100,
 1546403400,
 1546403700,
 1546404000,
 1546404300]

In [138]:
required_data = ashok_data["chart"]["result"][0]["indicators"]["quote"][0]
required_data["date"] = [to_datetime(w) for w in ashok_data["chart"]["result"][0]["timestamp"]]

In [139]:
df = pd.DataFrame(required_data)

In [140]:
df.head()

,close,date,high,low,open,volume
0,101.949997,2019-01-02 03:45:00,102.250000,101.650002,102.000000,451180.0
1,101.699997,2019-01-02 03:50:00,102.000000,101.400002,102.000000,881546.0
2,101.650002,2019-01-02 03:55:00,101.699997,101.599998,101.699997,350046.0
3,101.650002,2019-01-02 04:00:00,101.800003,101.650002,101.650002,269562.0
4,101.349998,2019-01-02 04:05:00,101.699997,101.250000,101.650002,811550.0

In [141]:
df["date"] = pd.to_datetime(df["date"])

In [142]:
df.head()

,close,date,high,low,open,volume
0,101.949997,2019-01-02 03:45:00,102.250000,101.650002,102.000000,451180.0
1,101.699997,2019-01-02 03:50:00,102.000000,101.400002,102.000000,881546.0
2,101.650002,2019-01-02 03:55:00,101.699997,101.599998,101.699997,350046.0
3,101.650002,2019-01-02 04:00:00,101.800003,101.650002,101.650002,269562.0
4,101.349998,2019-01-02 04:05:00,101.699997,101.250000,101.650002,811550.0

In [143]:
import plotly.plotly as py
import plotly.graph_objs as go

from datetime import datetime

open_data = df["open"]
high_data = df["high"]
low_data =  df["low"]
close_data = df["close"]
dates = df["date"]

trace = go.Candlestick(x=dates,
                       open=open_data,
                       high=high_data,
                       low=low_data,
                       close=close_data)
data = [trace]
iplot(data)